.main {
}

.weeks {
  padding: 8px 0 3px 0;
}

.weekName {
  text-align: center;
  font-size: 14px;
  color: #69c0ff;
}

.day {
  display: inline-block;
  width: 14.2857142%;
  height: 32px;
  line-height: 32px;
  color: #333;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }

  &.selected {
    background: #1890ff;
    color: #fff;
  }

  &.disabled {
    background: transparent;
    color: #dedede;
    cursor: not-allowed;
  }
}

.otherMonth {
  color: #dedede;
}

.today {
  color: #1890ff;
  font-weight: bold;
}

