.main {
  padding: 4px 10px;
}

.timeValues {
  font-size: 14px;
  color: #4a4a4a;
}

.hourValue,
.miniteValue {
  font-size: 19px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  transition: background 0.3s;

  &.active {
    background: #f0f0f0;
  }
}

.colon {
  margin: 0 3px;
}

.hourSlider {
  margin-bottom: 12px;
}

